body {
    font-family: VodafoneLt;
    color: #000;
    border: 0;
    font-size: 100%;
    position: relative;
}
a img {
    border: 0;
}
input[type="radio"] {
    margin: 1em 0.25em 1.35em 0.25em;
}
#paypageHeading,
#acsHeading,
#cscHeading,
#submitHelp,
.tooltip,
.tooltipText,
.tooltipBottom,
.closeDialogIcon,
.basketPriceHeader,
.priceCol {
    display: none;
}
.hidden,
.description {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 0.063em;
    height: 0.063em;
    overflow: hidden;
}
#cardEntryForm {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}
#ppLogo {
  display: none;
}
.logo {
    width: 100%;
    text-align: center;
    margin: 1em auto;
}
.logoImg {
    display: inline-block;
}
#storeName {
    margin: 2%;
    text-align: center;
    font-weight: bold;
    display: none;
}
#messagePanel {
    font-size: medium;
    font-weight: normal;
    background-color: #ffe3e3;
    border-color: #d00;
    color: #800;
    padding: 1% 1% 1% 1%;
    border-style: solid;
    border-width: 0.125em;
    list-style: none outside none;
    display: flex;
    border-radius: 4px;
    margin-top: 0.5em;
}
.inlineText {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    width: 100%;
    float: left;
}
div#errorIconDiv {
    margin-top: 0.175em;
}
#errorIcon {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
}
.errorText {
    margin-bottom: 1%;
}
#infoMessagePanel {
    margin-top: 0.5em;
}
.noJsErrorIcon {
    width: 1em;
    height: 1em;
}
.centered {
    margin: 0 auto;
}
#purchaseDetailsPanel,
#basketPanel,
#paymentDetailsPanel,
#paymentMethodPanel,
#shippingAddressPanel,
#billingAddressPanel,
#customerAddressPanel {
    padding-top: 2%;
    margin-bottom: 2%;
}
#addressPanel {
  display: none;
}
#purchaseDetailsPanel {
  display: none;
}
.formLabel {
    font-size: 16px;
    text-align: left;
    /* font-weight: 700; */
    font-family: 'VodafoneRgBold';
    display: block;
    margin: 16px 8px 8px 8px;
}
.formInput {
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: large;
    height: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset; */
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset; */
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px 0 inset;
    padding: 12px 16px 12px 16px;
    border: 0.1em solid #CCCCCC;
    /* border-width: thin; */
    color: #333333;
    background-color: #FFFFFF;
    font-family: 'VodafoneRg';
}
#cscDescLink {

}
#btnCancel {
  display: none;
}
#completeCancelPanel {
    display: none;
}
label.inputError {
    color: #800;
}
div.inputError select,
div.inputError input,
div.inputError checkbox {
    background-color: #ffe3e3 !important;
    color: #800;
    border: 0.1em solid #800;
}
div.inputValid select,
div.inputValid input,
div.inputValid checkbox {
    background-color: #dfffdf !important;
    color: #005f00;
    border: 0.1em solid #005f00;
}
div.inputError span.formLabel label,
div.inputError span.formLabel span {
    color: #800;
}
label.labelError {
    color: #d00 !important;
}
.bodyText {
    font-family: Verdana, Geneva, sans-serif;
    color: #626d75;
    font-size: medium;
    text-align: left;
}
#purchaseDetailsHeader {
    padding-top: 0.5%;
}
#paymentDetailsHeader {
    display: none;
}
#cardType {
    width: 70%;
}
#cardNumber,
#cardholderName {
    width: 86%;
}
#logospan {
    position: relative;
    left: -34px;
    top: 4px;
}
#expiryYear,
#startYear,
#expiryMonth,
#startMonth {
    width: 46.5%;
    /* margin: 0px 8px 0px 8px; */
}
.dateDropDownLabel {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 0.063em;
    height: 0.063em;
    overflow: hidden;
}
#issue {
    width: 15%;
}
#ifAvailable {
    font-style: italic;
    font-weight: normal;
    font-size: medium;
    margin-left: 0.625em;
}
#cscLabelPanel {
    width: 80%;
}
#csc,
#confirmCsc {
    width: 36%;
    margin-top: 8px;
}
input[type="submit"].newCardButton,
input[type="submit"].newCardButton:focus,
input[type="submit"].newCardButton:active {
    background: 0;
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    outline: 0;
    outline-offset: 0;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.625em;
    margin-left: 0.75em;
}
input[type="submit"].newCardButton::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.linkText {
    margin: 16px;
}
a,
a:hover,
a:visited {
    text-decoration: none;
    color: #626d75 !important;
}
#closeCSCLink {
    display: block;
    padding: 2% 2%;
    margin: 1% 2% 1% 1%;
}
#cscDialog {
    display: none;
    margin: 0;
    position: fixed;
    top: 25%;
    text-align: center;
    width: 95%;
    z-index: 6000;
    margin: 16px;
}
#cscDialogContent {
    display: block;
    margin: 0 auto;
    width: 95%;
    background: #fff;
    border: #636b70;
    border-width: 0.063em;
    border-style: solid;
    box-shadow: 0.313em 0.313em 0.313em #ccc;
    -moz-box-shadow: 0.313em 0.313em 0.313em #ccc;
    -webkit-box-shadow: 0.313em 0.313em 0.313em #ccc;
    text-align: center;
}
#cscDialogTitle {
    display: block;
    font-weight: bold;
    margin-right: 0;
    margin-left: 0.6em;
    margin-bottom: 0.563em;
    margin-top: 0.75em;
}
.dialogTitle {
    display: block;
    font-weight: bold;
    margin-bottom: 1.15em;
}
#cscDescriptionBody {
    height: 10.938em;
    width: 100%;
}
#cscText {
    width: 100%;
    text-align: left;
}
#cscRightImage {
    display: none;
}
#cscBottomImage {
    height: 6em;
    width: 100%;
    margin: 0.625em 0 0.5em 0;
    text-align: center;
}
#commands {
    width: 100%;
    margin: 20px 8px 8px 8px;
}
.btn {
    text-decoration: none;
    font-size: 1.29em;
    vertical-align: middle;
    box-shadow: none;
    min-width: 120px;
    border-radius: 6px;
    min-height: 44px;
    transition: all 0.3s ease-out;
    padding: 0 30px;
    line-height: 2;
}
.primary {
    color: #fff;
    background-color: #E60000 !important;
    border: 0 none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.secondary {
    color: #085da9;
    background-color: white;
    border: 1px solid #085da9;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.primary:hover {
  background-color: #E60000 !important;
}
.primary:active {
  background-color: #E60000 !important;
}
.primary:disabled,
.primary[disabled] {
    background-color: #d98a8a;
    pointer-events: all;
    opacity: 1;
    color: white;
}
.primary:active,
.primary:focus,
.primary:hover {
    outline: 0;
    box-shadow: none;
}
#completeReferral,
#btnSubmit {
    /* float: right; */
    /* margin: 20px 8px 8px 8px !important; */
    /* padding: 20px 8px 8px 8px !important; */
    width: 96%;
    font-family: 'VodafoneRg';
    font-weight: 400;
    /* display: block; */
}
.secondary:hover {
    border: 1px solid #0094cc;
    color: #0094cc;
}
.secondary:active {
    border: 1px solid #067fc3;
    color: #067fc3;
}
.secondary:disabled,
.secondary[disabled] {
    background-color: #b5cee5;
    pointer-events: all;
    opacity: 1;
    color: #d5e2f0;
}
.secondary:active,
.secondary:focus,
.secondary:hover {
    outline: 0;
    box-shadow: none;
}
#payerAuthDialog {
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 6.25em;
    width: 100%;
}
#payerAuthDialogContent {
    display: block;
    margin: 0 auto;
    width: 25em;
    height: 31.25em;
    background: #fff;
    border: #636b70;
    border-width: 0.063em;
    border-style: solid;
    text-align: center;
    box-shadow: 0.313em 0.313em 0.313em #ccc;
    -moz-box-shadow: 0.313em 0.313em 0.313em #ccc;
    -webkit-box-shadow: 0.313em 0.313em 0.313em #ccc;
}
#payerAuthIframe {
    width: 100%;
    border: 0;
    padding: 0;
    height: 30em;
}
.bodyStyle {
    display: block;
    margin: 4%;
    width: 90%;
    text-align: center;
}
.noJsReturnPanel {
    display: block;
    margin-top: 0.938em;
    border: thin solid #d00;
    padding: 0.625em 0.625em 0.625em 2.5em;
    color: #cc292b;
    font-size: medium;
}
.noJsContinueButton {
    font-size: 1.4em;
    display: block;
    margin: 0.4em auto;
}
.wait {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -7.2em;
    text-align: center;
    z-index: 6000;
    overflow: auto;
    border: #636b70;
    border-width: 0.063em;
    border-style: solid;
    width: 14.5em;
    height: 4em;
    background-color: white;
    padding-top: 1em;
}
#overlay {
    display: none;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #dcdcdc;
    width: 100%;
    z-index: 5000;
}
.opaque {
    opacity: 0.4;
    filter: alpha(opacity = 40);
    zoom: 1;
}
tbody tr td {
    margin: 0 auto;
    text-align: center;
    height: auto !important;
    background: #fff;
}
.progressSpinner {
    text-align: center;
}
#progressSpinnerImage {
    margin: 0 auto;
    margin-bottom: 0.6em;
    width: 2em;
    height: 2em;
    display: block;
}
#progressText {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: #018fd0;
    font-size: medium;
}
#mainDccDiv {
    font: bold sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#subHeaderText {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
}
#dccEntryForm {
    text-align: center;
    margin: 0 auto;
}
#selectionPanel {
    text-align: left;
}
#cardHolderText,
#merchantText {
    font-family: Verdana, Geneva, sans-serif;
    color: #626d75;
    margin-top: 3%;
    font-size: large;
    font-weight: bold;
}
#dccCommands {
    margin: 0 auto;
    margin-top: 2%;
}

#dccSubmit {
    float: right;
}
#dccCancel {
    float: left;
}
#basketTable {
    width: 100%;
}
.basketHeader {
    font-weight: bold;
    font-size: 0.625em;
    padding-left: 0.625em;
}
.basketQtyHeader,
.basketItemQty,
.quantityCol {
    text-align: center;
}
.basketSubTotalHeader,
.subTotalCol {
    text-align: right;
}
.basketFooter {
    font-weight: bold;
    width: 100%;
    text-align: right;
}
.basketItemFooter {
    display: inline-block;
    padding-right: 1em;
    width: 80%;
}
.basketItemPriceFooter {
    display: inline-block;
}

.billingAddress {
    display: block;
    padding-left: 0.625em;
    text-align: left;
    clear: left;
}
.shippingAddress {
    display: block;
    padding-left: 0.625em;
    text-align: left;
    clear: left;
}
#paymentMethodHeader {
    padding-top: 0.313em;
}
button {
    width: auto;
    overflow: visible;
}
img[class^="paymentMethod"] {
    height: 2em;
    display: inline;
}
.paymentMethodALIPAY {
    width: 4em;
}
legend {
    display: block;
    color: #018fd0;
    text-align: left;
    border-style: none;
}
fieldset {
    display: block;
    border: 0.063em solid #626d75;
    background-color: transparent;
    padding-top: 1%;
    padding-bottom: 2%;
    box-shadow: 0.188em 0.125em 0.188em #ccc;
    -moz-box-shadow: 0.188em 0.125em 0.188em #ccc;
    -webkit-box-shadow: 0.188em 0.125em 0.188em #ccc;
}
#confirmCheck1,
#confirmCheck2 {
    float: left;
    margin: 2.4% 0 1% 2%;
}
#confirmCheck1LabelPanel,
#confirmCheck2LabelPanel {
    display: inline-block;
    width: 82%;
    font-weight: normal;
}
#checkBoxSection,
#checkBoxSection2 {
    margin-top: 0.5em;
}
#footer {
    /* text-align: center; */
    width: 100%;
    margin-left: 8px;
}
.basketItemImage {
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-right: 0.5em;
}
.acceptanceMarkLink:link {
    text-decoration: none;
}
.acceptanceMarkImg {
    text-decoration: none;
    display: inline-block;
    height: 2em;
    margin-right: 8px;
}
.acceptanceMarkImg:hover {
    position: relative;
    top: -0.125em;
    box-shadow: 0 0.313em 0.313em #ddd;
    -moz-box-shadow: 0 0.313em 0.313em #ddd;
    -webkit-box-shadow: 0 0.313em 0.313em #ddd;
    transition-property: box-shadow, top;
    -moz-transition-property: box-shadow, top;
    -webkit-transition-property: box-shadow, top;
    transition-duration: 0.5s, 0.5s;
    -moz-transition-duration: 0.5s, 0.5s;
    -webkit-transition-duration: 0.5s, 0.5s;
}
.cardType {
    display: block !important;
    background-repeat: no-repeat;
    padding: 16px 8px;
    border: 0.1em solid #CCCCCC;
    border-radius: 6px;
    margin-left: 2%;
    -webkit-border-radius: 6px;
}
.cardTypeImage {
    text-decoration: none;
    display: none;
    height: 2em;
}
#confirmCardLabel {
    display: block !important;
    font-family: 'VodafoneRg';
    font-size: 18px;
}
#confirmCardExpiryLabel {
    display: block !important;
    font-family: 'VodafoneRg';
    font-size: 14px;
    margin-top: 4px;
    text-align: left;
}
#cscImage {
    width: 16em;
}
#confirmCscLabelPanel {
  display: none;
}
#confirmCardSchemePanel {
  margin-right: 8px;
}
#frHeading,
#progressHeader,
#storeName {
    color: #018fd0;
}
#paymentDetailsTitle, #paymentDetailsPanel p {
  margin: 8px 8px 8px 8px;
  font-family: 'VodafoneLt';
  font-size: 24px;
  font-weight: normal;
  display: none !important;
}
.fail,
#textPanel {
    color: #444;
}
.success {
    color: #626d75;
}
#aboutMasterpass {
    display: inline;
    position: absolute;
    margin: 0.35em;
}
@font-face {
    font-family: "VodafoneLt";
    src: url("../fonts/VodafoneLt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VodafoneRg";
    src: url("../fonts/VodafoneRg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VodafoneRgBold";
    src: url("../fonts/VodafoneRg_Bd.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {

}

.vfTitle {
  margin: 0px 8px 8px 0px;
}

.vfSubtitle {
  margin: 0px 8px 16px 8px;
}

#goodsLabel,
#goods,
#amountLabel,
#amount {
    display: inline-block;
}
#paymentMethods {
    list-style: none;
    padding: 0;
}
#paymentMethods li {
    display: block;
    width: 100%;
    padding: 0.4em 0.4em 0.4em 0;
}
#paymentMethods li input[type="radio"] {
    margin: 0.8em 0.8em 0 0.8em;
    display: inline;
    vertical-align: top;
}
@media screen and (min-width: 0\0) {
    #paymentMethods li input[type="radio"] {
        margin: 0.45em 0.8em 0 0.8em;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #paymentMethods li input[type="radio"] {
        margin: 0.45em 0.8em 0 0.8em;
    }
    *::-ms-backdrop,
    #paymentMethods li input[type="radio"] {
        margin: 0.65em 0.8em 0 0.8em;
    }
}
@supports(-ms-ime-align:auto){
  #paymentMethods li input[type="radio"]{
    margin:.54em .8em 0 .8em;
    }
  }
#cardNumber:disabled {
    background-color: #ebebe4;
}
.visaelectron {
    background: url("../images/icons/visaelectron-icon.png") no-repeat 100%;
}
.visa {
    background: url("../images/icons/visa-icon.png") no-repeat 100%;
}
.mastercard {
    background: url("../images/icons/mastercard-icon.png") no-repeat 100%;
}
.amex {
    background: url("../images/icons/amex-icon.png") no-repeat 100%;
}
.jcb {
    background: url("../images/icons/jcb-icon.png") no-repeat 100%;
}
.dinersclub {
    background: url("../images/icons/dinersclub-icon.png") no-repeat 100%;
}
.maestro {
    background: url("../images/icons/maestro-icon.png") no-repeat 100%;
}
img.paymentMethodVISA_CHECKOUT,
img.paymentMethodVISA_CHECKOUT_DISABLED {
    width: 6.1875em;
    height: 2.125em;
}
img.paymentMethodVISA_CHECKOUT_DISABLED {
    display: none;
}
input#paymentMethod_VISA_CHECKOUT {
    float: left;
}
.visaCheckoutPaymentMethod {
    float: left;
    margin-left: 0.375em;
}
.clear {
    clear: both;
}
.visaCheckoutButton {
    float: right;
    display: none;
}
.visaCheckoutOptionHelp,
.visaCheckoutButtonHelp {
    display: none;
}
.visaCheckoutPanel {
    display: none;
    margin-bottom: 1.5em;
}
.visaCheckoutPanel .title {
    float: left;
    width: 60%;
}
.visaCheckoutPanel .link {
    float: right;
    text-decoration: underline;
    color: #00e !important;
}
.visaCheckoutPanel .link:visited {
    color: #551a8b !important;
}
#visaCheckoutPaymentDetailsPanel .formSection {
    margin-top: 0.5em;
}
#visaCheckoutPaymentDetailsPanel .cardArt.image {
    width: 6.875em;
    height: 4.3125em;
    margin: 0.875em 0 1em 0;
}
#visaCheckoutPaymentDetailsPanel .cardArt.spacer {
    display: none;
    height: 0;
    margin: 0;
}
#visaCheckoutPaymentSummaryPanel .formSection {
    margin-top: 0.5em;
}
.visaCheckoutPanel .formLabel {
    display: inline-block !important;
    width: 40% !important;
}
.visaCheckoutPanel .footnote {
    display: inline-block;
    margin-top: 0.75em;
}
.visaCheckoutCardTypeValue {
    text-transform: capitalize;
}
#confirmCscDescLink {

}
#newCardLink,
#confirmCardholderNameSection {
  display: none;
}
#confirmPaymentDetailsHeader {
  margin: 8px 8px 8px 8px;
  display: none;
}
#confirmPaymentDetailsPanel h3 {
  font-family: 'VodafoneLt';
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
